<div class="container-fluid ps-5 pe-5">
    <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fs-4 text-dark bg-none" href="#">BANKIST</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <% if (!currentUser) { %>
                <form class="d-flex ms-auto" action="/login" method="post">
                    <input
                        class="form-control me-2 border-secondary text-black"
                        type="text"
                        placeholder="Username"
                        aria-label="Login"
                        name="username"
                    />
                    <input
                        class="form-control me-2 border-secondary text-black"
                        type="password"
                        placeholder="Password"
                        aria-label="Login"
                        name="password"
                    />
                    <button class="btn btn-outline-success" type="submit">
                        Login
                    </button>
                </form>
                <% } else { %>
                <ul class="navbar-nav ms-auto mb-2 me-3 mb-lg-0">
                    <li class="nav-item">
                        <span class="fs-5 text-black"
                            >Welcome back, <%= currentUser.username %>.</span
                        >
                    </li>
                </ul>
                <form
                    class="d-flex"
                    action="/logout?_method=DELETE"
                    method="post"
                >
                    <button class="btn btn-outline-danger" type="submit">
                        Logout
                    </button>
                </form>
                <% } %>
            </div>
        </div>
    </nav>
</div>
